.container{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(239deg, #52b69a, #34a0a4, #168aad, #1a759f, #1e6091, #184e77, #184e77, #184e77, #1e6091, #1a759f, #168aad, #34a0a4, #52b69a);
    background-size: 2600% 2600%;

    -webkit-animation: AnimationName 159s ease infinite;
    -moz-animation: AnimationName 159s ease infinite;
    animation: AnimationName 159s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 96%}
    50%{background-position:100% 5%}
    100%{background-position:0% 96%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 96%}
    50%{background-position:100% 5%}
    100%{background-position:0% 96%}
}
@keyframes AnimationName {
    0%{background-position:0% 96%}
    50%{background-position:100% 5%}
    100%{background-position:0% 96%}
}

#gif-1{
    margin: 5% 5%;
    width: auto;
    height: 90%;
    border-radius: 1rem;
}

#card-1{
    height: 80vh;
    margin: 10vh 0;
}
